:root {
--color-blue: hsl(213, 96%, 18%);
--color-Purplish-blue: hsl(243, 100%, 62%);
--color-Pastel-blue: hsl(228, 100%, 84%);
--color-Light-blue: hsl(206, 94%, 87%);
--color-Strawberry-red: hsl(354, 84%, 57%);
--color-Cool-gray: hsl(231, 11%, 63%);
--color-Light-gray: hsl(229, 24%, 87%);
--color-Magnolia: hsl(217, 100%, 97%);
--color-Alabaster: hsl(231, 100%, 99%);
--color-White: hsl(0, 0%, 100%);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: var(--color-Magnolia);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background-color: white; */
}

.container{
    width: 80vw;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: var(--color-White);
    border-radius: 10px;
}
/* @media (max-width: 768px) {
    .container {
        width: 375px;
    }
    
}
@media (min-width: 992px) {
    .container {
        width: 950px;
    }
    
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
} */

/* start sidebar */


.container .side-bar {
    background-image: url(../multi-step-form-main/assets/images/bg-sidebar-desktop.svg);
    background-size: cover;
    flex: 1;
    height: calc(100vh - 80px);
    padding: 20px;
    display: flex;
    margin-right: 50px;
    border-radius: 10px;

}
.side-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.side-bar .numbers li {
    width: 30px;
    height: 30px;
    padding: 0;
    /* background-color: #ffffffad; */
    border-radius: 50%;
    margin: 0 20px 36px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-Alabaster);
    color: var(--color-Alabaster);

}
.side-bar .numbers li.active {
    background-color: #ffffffad;
    color: black;
}

.side-bar .info li {
    margin-bottom: 26px;
    text-transform: uppercase;}
.side-bar .info li span {
    color: var(--color-Pastel-blue);
    font-size: 16px;
    text-transform: uppercase;
}
.side-bar .info li p {
    margin: 0;
    /* font-size: 20px; */
    color: var(--color-White);
}
@media (max-width: 768px) {
    .container {
        background-color: var(--color-Magnolia);
                flex-direction: column;
        padding-top: 0px;
        position: relative;
    }
    .container .side-bar {
        background-image: url(../multi-step-form-main/assets/images/bg-sidebar-mobile.svg);
        position: absolute;
        width: 100vw;
        left: 0;
        height: auto;
        border-radius: 0;
        width: 1;
    }
    .side-bar .numbers {
        flex-direction: row;
        display: flex;
        margin: 0 auto;
    }
    .side-bar .info {
        display: none;
    }
}

/* end sidebar */


/* start content  */

.container .content {
    flex: 2;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--color-blue);
    justify-self: auto;
}

.content h1{
    margin-bottom: 0;
    text-transform: capitalize;
}
.content h1 + p {
    font-size: 14px;
    text-transform: capitalize;
    color: var(--color-Cool-gray);
}
/* .content form {} */
.content form label {
    text-transform: capitalize;
    display: block;
    margin: 20px 0 5px;
}
.content form input {
    width: -webkit-fill-available;
        padding: 10px;
    border: 1px solid var(--color-Cool-gray);
    outline: none;
    border-radius: 7px;
}.content form input:focus {
    outline: 1px solid var(--color-blue);
}
/* .content span {
    position: absolute;
    right: 50px;
    bottom: 50px;
    display: block;
    width: fit-content;
    background-color: var(--color-blue);
    color: var(--color-White);
    padding: 10px 15px;
    border-radius: 7px;
} */
.d-none {
    display: none;

}
.container  div.btn2 {
    display: none;
}

.content .btn1 {
    width: 100%;
    height: 50px;
    background-color: var(--color-White);
    position: absolute;
    bottom: 20px;
    left: 0;
}
.content .btn1 span {
    width: fit-content;
    display: block;
    background-color: var(--color-blue);
    color: var(--color-White);
    padding: 10px 15px;
    border-radius: 8px;
    position: absolute;
    right: 0;
    cursor: pointer;
}
.content .btn1 span:last-child {
    left: 0;
    background-color: var(--color-Cool-gray);
    transition: 0.3s;
    cursor: pointer;
}
.content .btn1 span:last-child:hover {
    background-color: var(--color-blue);
}
@media (max-width: 768px) {
    .content{
        background-color: var(--color-White);
        padding: 20px;
        border-radius: 10px;
        position: absolute;
        top: 75px;
    }
    .content .btn1 {
        display: none;

    }
    
    .container > div.btn2 {
        width: 100%;
        height: 70px;
        background-color: var(--color-White);
        position: fixed;
        left: 0;
        bottom: 0;
        display: block;
    }
    .container > .btn2 span {
        position: absolute;
        right: 20px;
        bottom: 18px;
        background-color: var(--color-blue);
        color: var(--color-White);
        padding: 10px 15px;
        border-radius: 10px;
        cursor: pointer;
    }
    .container .btn2 span:last-child {
        left: 20px;
        background-color: var(--color-Cool-gray);
        transition: 0.3s;
        width: fit-content;
        cursor: pointer;
        
    }
    .container .btn2 span:last-child:hover {
        background-color: var(--color-blue);
    }
    
}
/* .content form input {} */

/* end content  */


/* ==============================plan page============================== */
.card {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    cursor: pointer;
    transition: 0.3s;
}
.card > div {
    width: calc(100% / 3);
    /* background-color: red; */
    margin-right: 10px;
    border: 1px solid var(--color-Light-gray);
    padding: 15px;
    text-transform: capitalize;
    transition: 0.3s;
    border-radius: 7px;
    
}
.card div.active{
    background-color: var(--color-Light-gray);
    border: 1px solid var(--color-Purplish-blue) ; 
}
.card  > div:hover {
    border: 1px solid var(--color-Purplish-blue) ; }
    .card + div {
        background-color: var(--color-Magnolia);
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 10px 0;
    text-transform: capitalize;
    }
    .choosen input {
        margin-left: 15px;
        margin-right: 15px;
        appearance: none;
        width: 50px;
        height: 20px;
        background-color: var(--color-blue);
        border-radius: 10px;
        position: relative;
        cursor: pointer;
        transition: 0.3s;
    }
    .choosen input::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        background-color: white;
        left: 3px;
        top: 2px;
        z-index: 100;
        border-radius: 50%;
        transition: 0.3s;
     }
        .choosen input.toggel::before {
            left: 30px;

        }
    .choosen label {
        color: var(--color-Cool-gray);
        transition: 0.3s;
    }
    .choosen label.active {
        color: var(--color-blue);;
        transition: 0.3s;
    }

    @media (max-width: 768px) {
        .card {
            flex-direction: column;
            margin-bottom: 0;
            margin-top: 0;
        }
        .card > div {
            
            display: flex;
            width: 89%;
            margin-bottom: 10px;
            height: 35px;
        }
        .card > div >img {
            margin-right: 15px;
        }
        .card > div p {
            margin: 0;
            margin-bottom: 5px;
        }
        .card > div:last-child {
            margin-bottom: 0;
        }
        .choosen {
            height: 16px;
        }
    }

    /* ============================================add page====================== */


    .row {
        display: flex;
        justify-content: space-between;
        border: 1px solid var(--color-Light-gray);
        border-radius: 10px;
        margin-bottom: 15px;
        padding: 10px;
        align-items: center;
    }
    .row:hover {
        border: 1px solid var(--color-blue);
    }
    .row.active {
        border: 1px solid var(--color-blue);
    }
    .row .detail {
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    .row .detail input {
        margin-right: 15px;
    }
    .row .detail div p {
        margin: 8px 0;
        font-weight: bold;
    }
    /* .row .detail div span{}
    .row div:last-child{} */



    /*start summery page  */
    .row1 {
        background-color: var(--color-Magnolia);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #ccc;
    }
    .row2 {
    background-color: var(--color-Magnolia);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.total {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.total span:first-child {
    color: var(--color-Cool-gray);
}
.total span:last-child {
    font-size: 20px;
    font-weight: bold;
}
    
    /*end summery page  */
    /* start confirming  */
    
    .content .img-c {
    width: 100px;
}
    .content .img-c + p{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
        text-transform: capitalize;
    }
    .content .p-c {
        text-transform: capitalize;
        color: var(--color-Cool-gray);
        margin-top: 0;

    }
    /* end confirming  */
    span a {
        color: white;
        text-decoration: none;
    }